h2 {
    font-size: 14pt;
}
  
p {
    font-size: 12pt;
}

button {
    font-size: 14px;
}

/* Sets the popup width */
#datePick {
	width: 400px;
}

#datepicker {
    width: 150px;
}

#shiftboardLogin p {
    font-weight: bold;
}

#error {
    color: red;
    font-weight: bold;
}

.link {
    font-weight: bold;
}

#revokeAuth {
    display: none;
}

#loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #00BFFF; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
    align-self: center;
    display: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
