h2 {
    font-size: 14pt;
}
  
p {
    font-size: 12pt;
}

button {
    font-size: 14px;
}

/* Sets the popup width */
#datePick {
	width: 400px;
}

#datepicker {
    width: 150px;
}

#error {
    color: red;
    font-weight: bold;
}

.link {
    font-weight: bold;
}

#revokeAuth {
    display: none;
}